{% extends 'learning_app/base.html' %}
{%load static%}
{% block bodyblock %}
{%load humanize%}

  {% if messages %}
          {% for message in messages %}
          <div class="messages alert alert-{{message.tags}}" role = "alert">
          <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>

          {% endfor %}
      </div>
  {% endif %}

{%if user.is_authenticated%}
  <div>
    <div class = "row">
      <div class = "col col-lg-12">
      {% for m in memories %}
      <div class = "jumbotron" id = "main_content">

        <div class = "row">
                    <div class = "card border-warning text-white bg-info "  style="margin: 10px;">
                      <div class = "col-md-4">
                          <img src="{{m.photo.url}}" class = "card-img-top img-thumbnail" style="margin-top:5px;" >
                      </div>
                      <div class = "col-md-8">
                        <div class = "card-body">
                          <h2 class = "card-text  ">  {{ m.desc|capfirst }} </h2>
                          <h3 class = "card-text "><em>  {{ m.created_at|naturaltime }}</em> </h3>

                          <h3 class = "card-text">  <mark>{{ m.likes}}</mark> Kisses </h3>
                          <form method = "POST" action = "{%url 'learning_app:like' m.id%}">
                            {%csrf_token%}
                            <span style="font-size: 4em;color: Tomato;">
                              <button style = "border:none; background-color:#ffffff;">
                                <i class="far fa-kiss-wink-heart"></i>
                              </button>
                            </span>
                          </form>
                        </div>
                      </div>

                    </div>
          </div>
                    </div>
        {% endfor %}
      </div>
    </div>
  </div>
{%else%}
<div class = "jumbotron" id = "main_content">
  <h1> Welcome to the share-care </h1>
</div>

<div class = "row">
<div class = "col col-lg-7">
<div class = "jumbotron" id = "main_content">
  <h1> What is this? </h1>

  <h3 style = "font-family: 'Ropa Sans'">
    This is a website where users can come in and share their pictures<hr>
    Also, you can add personal notes<hr>
    The photos also known as memories are only visible once you log in<hr>
    The connect page consists of all the users and the link to their profile<hr>
    Once, inside someone's profile, you can send them an email<hr>
    From the forum page, users can exchange messages and helpful informations
  </h3>
</div>
</div>

<div class = "col col-lg-5">
<div class = "jumbotron" id = "main_content">
  <h1> Built using </h1>
  <h3 style = "font-family: 'Ropa Sans'">

    Django <hr>
    Messages Framework <hr>
    Bootstrap <hr>
    SQLite DB <hr>
    HTML + CSS + JS <hr>
    Contrib Framework <hr>
  </h3>

</div>
</div>
</div>

{%endif%}
  {% endblock %}
