{% extends 'learning_app/base.html' %}
{%load static%}

  {% block bodyblock %}
    <div class = "container login card border-primary bg-light mb-3 form-row" style="width: 45rem;" id = "main_content">

      {% if messages %}
          <div class="messages alert alert-danger" role = "alert">
              {% for message in messages %}
              <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>

              {% endfor %}
          </div>
    {% endif %}


      <h1 class = "text-center"> Log In </h1>
        <form action="{% url 'learning_app:user_login' %}" method="post">
          {% csrf_token %}
      <div class="form-group col-auto col-lg-12 login_opts">
          <input type="text" name="username" class="form-control-lg" placeholder="enter your username">
          <i class = "fa fa-user"></i>
      </div>

      <div class="form-group col-auto col-lg-12 login_opts">
          <!-- The name will be used in views function -->
          <input class=" form-control-lg" type="password" name="password" placeholder="password">
           <i class = "fa fa-key"></i>
    </div>

          <button type="submit" class = "btn btn-primary btn-block btn-lg"> Login </button>
        </form>
    </div>







  {% endblock %}
