{% extends 'learning_app/base.html' %}
{%load static%}

{% block bodyblock %}
<link rel="stylesheet" href="{% static 'css/profile.css'%}">
  <div class = "container" id = "main_content">
    <div class = "row">
      <div class = "col col-lg-4 col-md-12 col-sm-12">
        <div>
          <img src = "{{user.profile_picture.url}}" id = "profile_picture">
        </div>
      </div>

      <div class = "col col-lg-8 col-md-12 col-sm-12">
        <div>
            <h1> {{user.user.username|capfirst}}</h1>
        </div>

        <div>
            <h2> {{user.user.email}}</h2>
        </div>

        <div>
            <h3>Been a Member for {{user.user.date_joined|timesince}}</h3>
        </div>

        <div>
          <span style="font-size: 4em;color: Dodgerblue;">
              <a href = "{{user.portfolio}}" target = "_blank">
              <i class="fab fa-linkedin"></i></a>
          </span>
        </div>



      </div>
  </div>
</div>

<div class = "container" id = "main_content" style = "margin-top:2px;">
  <h1> Contact {{user.user.username}} </h1>

  <form method = "POST" action = "{% url 'learning_app:mail'%}">
    {%csrf_token%}
    <div class="form-row">
      <div class="form-group col-md-4">
        <input type="text" class="form-control"  placeholder="name" name = "name">
      </div>
      <div class="form-group col-md-4">
        <input type="email" class="form-control"  placeholder="email address"
        value = "{{user.user.email}}" name = "email_to">
      </div>
    </div>
    <div class="form-group col-md-4">
      <input type="email" class="form-control"  placeholder="your email address"
       name = "email_from">
    </div>


    <div class="form-group">
      <div class="form-group col-md-12">
      <textarea class="form-control" name = "msg" placeholder="type in your feedback"></textarea>
    </div>
    </div>

      <button type="submit" class="btn btn-primary btn-lg col-md-4">Send</button>
  </form>
  </div>
</div>
{% endblock %}
